<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Timetable Schedulr</title>
</head>
<body class="login-container">
    <div class="card">
        <div class="logo">
            <img src="./logo.jpg" alt="logo" draggable="false">
        </div>
        <form action="POST">
            <div class="name">
                <label for="email">Email:</label>
                <input type="email" name="email" class="email">
                <!-- <a href="#">Forgot Email?</a> -->
            </div>
            <div class="password">
                <label for="password">Password:</label>
                <input type="password" name="password" class="password">
                <!-- <a href="#">Forgot password?</a> -->
            </div>
            <div class="bottom">
                <a href="#">Create Account</a>
                <div class="next">Next</div>
            </div>

        </form>
    </div>
</body>
</html>