{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/timetable.css' %}">
{% endblock styles %}

{% block main_body %}

<body>
    <div class="timetable">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Mondays</th>
                    <th>Tuesdays</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>6:30 am - 7:30 am</th>
                    <td class="disabled"></td>
                    <td></td>
                    <td>
                        <span>CSC302</span>
                        <span>LT2</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>7:30 am - 8:30 am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>8:30 am - 9:30 am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>9:30 am - 10:30 am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>10:30 am - 11:30 am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>11:30 am - 12:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>12:30 pm - 1:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1:30 pm - 2:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2:30 pm - 3:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3:30 pm - 4:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4:30 pm - 5:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>5:30 pm - 6:30 pm</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Mondays</th>
                    <th>Tuesdays</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>             
                </tr>
            </tfoot>
        </table>
    </div>
</body>
{% endblock main_body %}


{% block scripts %}
<script src="{% static 'js/timetable.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}
