<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Timetable Schedulr</title>

    <link rel="stylesheet" type="text/css" href="css/timetable.css">
</head>
<body>
    <div class="timetable">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Mondays</th>
                    <th>Tuesdays</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td class="disabled"></td>
                    <td></td>
                    <td>
                        <span>CSC302</span>
                        <span>LT2</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6:30am - 7:30am</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Mondays</th>
                    <th>Tuesdays</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>             
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="js/timetable.js"></script>
    <script src="js/main.js"></script>
</body>
</html>